{% load static %}
{% load static %}

<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Template CSS -->
	<link rel="stylesheet" href="/static/assets/css/style-starter.css">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,500,600,700&display=swap"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>
	<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container">
				
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
			<div class="container">
				<h1><a class="navbar-brand" href="{% url 'index' %}">KUDUMBASHREE<span>BAZAR</span></a></h1>
				<!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"></span> -->
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
		
						</li>
						{% if user.is_authenticated %}
						{% if user.is_superuser %}
						
					
						<li class="nav-item">
							<a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
						</li>
						{% endif %}
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'index' %}">Home</a>
						</li>
						
						<li class="nav-item">
							<a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
						</li>
						{% if user.shop %}
						<!--<li class="nav-item">
							<a class="nav-link" href="{% url 'volunteer_register' %}">Add Employees</a>
						</li>-->
						{% endif %}

						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'registrations' %}">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'user_login' %}">Login</a>
						</li>
						{% endif %}
					</ul>
					
				</div>
			</div>
		</nav>
		<!--//nav-->
	</header>


{% comment %} {% load crispy_forms_tags %}



{% block content %} {% endcomment %}
		<div id="page-wrapper">
			<div class="main-page">
				<div class="forms" style="background-color: #000014;padding-top: 2em;padding-bottom: 2em;color: #ffff;">
					<h3 class="title1"></h3>
					<center>
					<h3 class="title1">Review Upload </h3><br></center>
					<center>
					
						
						<div class="form-three widget-shadow" style="background-color: #000014;">
                            <center>
                            
							<form class="form-horizontal" action="" method='POST'  style="font-size: 20px;font-weight: bold;color: #ffff;">
                                {% csrf_token %}
                                <label>Product Name:</label>
                                <input type="text" id="pname" name="pname" /><br>
                                
                                
                                <label>User Name  :</label>
                                <input type="text" id="uname" name="uname"/><br>
								<label>Shops Name  :</label>
                                <input type="text" id="shop" name="shop"/><br>
                                <label>Review :</label>
                                <input type="text" id="review" name="review" /><br>
                                <label>Rating The Product:</label>
                                <select name="rate" id="rate">Items
                                    <option value="grocery">------------</option>
                                    <option value="1">Excellent</option>
                                    <option value="2">Very Good</option>
                                    <option value="3">Good</option>
                                    <option value="4">Not Good</option>
                                    <option value="5">Bad</option>
                                    
                                </select>
                                <div class="col-sm-offset-2"> <button type="submit" class="btn btn-default" style="margin-top: 1em;background-color: tomato;">Add Details</button> </div>
								
								
							</form>
                        </center>
						</div>
					
				</center>
					
					</div>
				</div>
			</div>
		</div>
{% comment %} 		
		{% endblock %} {% endcomment %}

		<footer class="w3l-footer-66">
			<div class="footer-28-main">
				<div class="container">
					<div class="row footer-hny-top">
						<div class="col-lg-6 footer-logo pl-lg-0">
							<h2><a class="navbar-brand" href="/">KudumbashreeBazar</h2>
							<!-- if logo is image enable this   
							<a class="navbar-brand" href="#index.html">
								<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
							</a> -->
						</div>
						<div class="col-lg-6 main-social-footer-28 pr-lg-0">
							<a href="#facebook"><span class="fa fa-facebook"></a>
							<a href="#twitter"><span class="fa fa-twitter"></a>
							<a href="#google"><span class="fa fa-google-plus"></a>
							<a href="#linkedin"><span class="fa fa-linkedin"></a>
							<a href="https://instagram.com/_riyas___muhammed?utm_medium=copy_link"><span class="fa fa-instagram"></a>
						</div>
					</div>
					<div class="row footer-top-28">
						<div class="col-lg-5 col-md-6 footer-list-28">
				
						</div>
						<div class="col-lg-3 col-md-6 footer-list-28 pr-lg-0">
							<h6 class="footer-title-28">Working Hours</h6>
							<ul class="working-hours">
								<li><span>Monday</span> : 8AM - 6AM</li>
								<li><span>Tuesday</span> : 8AM - 6AM</li>
								<li><span>Wednesday</span> : 8AM - 6AM</li>
								<li><span>Thursday - Friday </span> : 8AM - 6AM</li>
								<li><span>Sunday</span> : Closed</li>
							</ul>
						</div>
					</div>
				</div>
				
			</div>
			<!-- move top -->
			<button onclick="topFunction()" id="movetop" title="Go to top">
				<span class="fa fa-angle-up"></span>
			</button>
			<script>
				// When the user scrolls down 20px from the top of the document, show the button
				window.onscroll = function () {
					scrollFunction()
				};
	
				function scrollFunction() {
					if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
						document.getElementById("movetop").style.display = "block";
					} else {
						document.getElementById("movetop").style.display = "none";
					}
				}
	
				// When the user clicks on the button, scroll to the top of the document
				function topFunction() {
					document.body.scrollTop = 0;
					document.documentElement.scrollTop = 0;
				}
			</script>
			<!-- /move top -->
	
		</footer>
</body>

</html>

<script src="/static/assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<!-- for blog carousel slider -->
<script src="/static/assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
	$(document).ready(function () {
		$('.owl-one').owlCarousel({
			loop: true,
			margin: 0,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	})
</script>
<!-- //testimonials owlcarousel -->
<script>
	$(document).ready(function () {
		$('.owl-two').owlCarousel({
			loop: true,
			margin: 30,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: false
				},
				1000: {
					items: 1,
					nav: false
				}
			}
		})
	})
</script>
<!-- //script for Testimonials-->
<!-- //script -->

<script src="/static/assets/js/bootstrap.min.js"></script>


