<html>
<head>
<title>Create a Post </title>
</head>
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Template CSS -->
	<link rel="stylesheet" href="/static/assets/css/style-starter.css">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,500,600,700&display=swap"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>
	<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container">
				
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	<header class="w3l-header-nav">
		<!--/nav-->
		<nav class="navbar navbar-expand-lg navbar-light fill px-lg-0 py-0 px-3">
			<div class="container">
				<h1><a class="navbar-brand" href="{% url 'index' %}">Home<span>Spun</span></a></h1>
				<!-- if logo is image enable this   
						<a class="navbar-brand" href="#index.html">
							<img src="image-path" alt="Your logo" title="Your logo" style="height:35px;" />
						</a> -->
				<button class="navbar-toggler collapsed" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
					aria-label="Toggle navigation">
					<!-- <span class="navbar-toggler-icon"></span> -->
					<span class="fa icon-expand fa-bars"></span>
					<span class="fa icon-close fa-times"></span>
				</button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ml-auto">
						<li class="nav-item active">
			
						</li>
						{% if user.is_authenticated %}
						{% if user.is_superuser %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
						</li>
						{% endif %}
            <li class="nav-item active">
							<a class="nav-link" href="{% url 'index' %}">Home</a>
						</li>
           <li class="nav-item">
							<a class="nav-link" href="{% url 'dashboard' %}">Dashboard</a>
						</li>

						<li class="nav-item">
							<a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
						</li>
						{% if user.shop %}
						<!-- <li class="nav-item">
							<a class="nav-link" href="{% url 'volunteer_register' %}">Add Employees</a>
						</li> -->
						{% endif %}

						{% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'registrations' %}">Register</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'user_login' %}">Login</a>
						</li>
						{% endif %}
					</ul>
					
				</div>
			</div>
		</nav>
		<!--//nav-->
	</header>









{% block content %} 
<div style="background-color: #000014;padding-top: 2em;padding-bottom: 2em;">
    <center>

<h1 style="font-weight: bold;color: #ffff;">UPLOAD VIDEOS</h1>
<body>
<form action="" method="POST" style="color: #ffff;">
    {% csrf_token %}
    filename: <input type="text" name="filename"/><br/>
    description: <br/>
    <textarea cols="35" rows="8" name="description">
    </textarea><br/>
    Enter Video URL: <input type="test" name="file"/><br/>
    <input type="submit" value="Post"/>
    </form>
    </body>
    
    </html>
    






</center>
</div>

{% endblock %}