<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% load static %}
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		{% block title %}
	    KudumbashreeBazar
		{% endblock title %}
	</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="/static/assets/css/style-starter.css">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,500,600,700&display=swap"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>
	<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container">
				
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	{% include 'includes/nav.html' with user=user %}
	{% block content %}
	<!-- //w3l-header -->
	<!--banner-slider-->
	<!-- main-slider -->
	<section class="w3l-main-slider" id="home">
		<div class="banner-content">
			<div class="owl-one owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h6>Fast and efficient</h6>
										<h5>The superior choice for home made products
										</h5>
										<!--<a class="btn mt-sm-5 mt-4" href="services.html">Read More</a> -->
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top2 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h6>Fast and efficient</h6>
										<h5>The superior choice for organic items
										</h5>
									<!--	<a class="btn mt-sm-5 mt-4" href="services.html">Read More</a>-->
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top3 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h6>Fast and efficient</h6>
										<h5>Quality products for quality homes</h5>
										<!--<a class="btn mt-sm-5 mt-4" href="services.html">Read More</a>-->
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
		</div>
	</section>
	<!-- /main-slider -->
	<!-- //banner-slider-->
	<!-- /bottom-grids-->
	<section class="w3l-bottom-grids-6">
		<div class="container">
			<div class="grids-area-hny main-cont-wthree-fea row">
				<div class="col-lg-4 col-md-6 grids-feature">
					<div class="area-box">
						<span class="fa fa-bath"></span>
						<h4><a href="#feature" class="title-head">Best Quality</a></h4>
						<p>the KudumbashreeBazar provides best quality home made products which makes people likes you</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 grids-feature">
					<div class="area-box active">
						<span class="fa fa-cogs active"></span>
						<h4><a href="#feature" class="title-head">Women Empowerment</a></h4>
						<p>we promote women empowerment and also provide financial stability.</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 grids-feature">
					<div class="area-box">
						<span class="fa fa-users"></span>
						<h4><a href="#feature" class="title-head">Labour Expertise</a></h4>
						
							<p>we employe a lot of people . Our delivery partners are innocent and accurate </p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- //bottom-grids-->
	<!-- /content-with-photo-1-->
	
	<!-- //content-with-photo-1-->

	<!-- /content-6-->
	<section class="w3l-content-6">
		<!-- /content-6-main-->
		<div class="content-6-mian py-5">
			<div class="container py-lg-5">
				<div class="content-info-in row">
					<div class="content-gd col-lg-4">
						<h3 class="hny-title">
							We Providing a High Quality Services</h3>
					</div>
					<div class="content-gd col-lg-4 pl-lg-4">
						<p> Our project mainly focuses on small scale business people. This  website that helps the small scale business developers to sell their product and also buyers can buy these products through our website. There are some kind of Users- Sellers 
							, customers annd who makes craft items as well as  Homemade food itemsArt and paintings , etc. </p>
					</div>
					<div class="content-gd col-lg-4 pl-lg-4">
						<p>The KudumbashreeBazar provides best quality home made products which makes people likes you.we including a lerning .we employe a lot of people . Our delivery partners are innocent and accurate </p>
					</div>

				</div>
				

			</div>
		</div>
	</section>
	<!-- //content-6-->
	
	<!-- /quote-6-->
	<section class="w3l-quote-6">
		<div class="quote-info py-5">
			<div class="container py-lg-5">
				<div class="quote-grids-info row">
					<div class="quote-gd-left col-lg-10 pr-lg-5">
						<h4>Professional Delivery <br>Services Provider</h4>
						<p class="para-quote"></p>
						<div class="row mt-lg-5 mt-4">
							<div class="col-lg-4 col-md-6 sub-quote mt-4">
								<div class="quote-sec-info">
									<div class="appyl-sub-icon">
										<span class="fa fa-phone"></span>
									</div>
									<div class="appyl-sub-icon-info">
										<h5>Phone</h5>
										<p><a href="tel:+910 7591906861">7591906861
												</a></p>
									</div>

								</div>

							</div>
							<div class="col-lg-4 col-md-6 sub-quote mt-4">
								<div class="quote-sec-info">
									<div class="appyl-sub-icon">
										<span class="fa fa-envelope-o"></span>
									</div>
									<div class="appyl-sub-icon-info">
										<h5>Email</h5>
										<p><a href="mailto:mail@company.com" class="mail">Kudumbashree@Bazar.com</a></p>
									</div>

								</div>
							</div>
							<div class="col-lg-4 col-md-6 sub-quote mt-4">
								<div class="quote-sec-info">
									<div class="appyl-sub-icon">
										<span class="fa fa-clock-o"></span>
									</div>
									<div class="appyl-sub-icon-info">
										<h5>Opening Hours</h5>
										<p>24x7</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //quote-6-->
	<!--/testimonials-->
	<section class="site-section" id="gallery-section" data-aos="fade">
      

		<div class="container">
  
		  <div class="row mb-3">
			<div class="col-12 text-center">
			  <h2 class="section-title mb-3">GALLERY</h2>
			</div>
		  </div>
  
		  <div id="posts" class="row no-gutter">
			<div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/cashew.jpg">
			  </a>
			</div>
			<div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/bread.jpg">
			  </a>
			</div>
  
			<div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/pickle.jpg">
			  </a>
			</div>
  
			<div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/enterprise.jpg">
			  </a>
  
			</div>
  
			<div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/craft.jpg">
			  </a>
			</div>
  
			<div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/onam.jpeg">
			  </a>
			</div>
  
			<div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/sharkara.jpg">
			  </a>
			</div>
  
			<div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/craft1.jpg">
			  </a>
			</div>
  
			<div class="item web col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/food.jpg">
			  </a>
			</div>
  
			<div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/hotel.jpg">
			  </a>
			</div>
  
			<div class="item brand col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/chillypowder.jpg">
			  </a>
			</div>
  
			<div class="item design col-sm-6 col-md-4 col-lg-4 col-xl-3 mb-4">
				<span class="icon-search2"></span>
				<img class="img-fluid" src="/static/assets/images/women.jpg">
			  </a>
			</div>
  
			
		  </div>
		</div>
  
	  </section>
	<!--//testimonials-->
	{% endblock %}
	<!-- footer-66 -->
	{% include 'includes/footer.html' %}
	<!--//footer-66 -->
</body>

</html>

<script src="static/assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<!-- for blog carousel slider -->
<script src="static/assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
	$(document).ready(function () {
		$('.owl-one').owlCarousel({
			loop: true,
			margin: 0,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	})
</script>
<!-- //testimonials owlcarousel -->
<script>
	$(document).ready(function () {
		$('.owl-two').owlCarousel({
			loop: true,
			margin: 30,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: false
				},
				1000: {
					items: 1,
					nav: false
				}
			}
		})
	})
</script>
<!-- //script for Testimonials-->
<!-- //script -->

<script src="static/assets/js/bootstrap.min.js"></script>