<!--
Author: W3layouts
Author URL: http://w3layouts.com
-->
{% load static %}
<!doctype html>
<html lang="zxx">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>
		{% block title %}
	    HomeSpun
		{% endblock title %}
	</title>
	<!-- Template CSS -->
	<link rel="stylesheet" href="/static/assets/css/style-starter.css">
	<!-- Template CSS -->
	<link href="//fonts.googleapis.com/css?family=Josefin+Sans:400,400i,500,600,700&display=swap"
		rel="stylesheet">
	<link href="//fonts.googleapis.com/css?family=Lato:300,400,400i,700&display=swap" rel="stylesheet">
	<!-- Template CSS -->
</head>

<body>
	<!--w3l-header-->
	<section class="w3l-top-header-content">
		<div class="hny-top-menu">
			<div class="container">
				
			</div>
		</div>
	</section>
	<!--//top-header-content-->
	{% include 'includes/nav.html' with user=user %}
	{% block content %}
	<!-- //w3l-header -->
	<!--banner-slider-->
	<!-- main-slider -->
	<section class="w3l-main-slider" id="home">
		<div class="banner-content">
			<div class="owl-one owl-carousel owl-theme">
				<div class="item">
					<li>
						<div class="slider-info banner-view bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h6>Fast and efficient</h6>
										<h5>The superior choice for home made products
										</h5>
										<a class="btn mt-sm-5 mt-4" href="services.html">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top2 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h6>Fast and efficient</h6>
										<h5>The superior choice for organic items
										</h5>
										<a class="btn mt-sm-5 mt-4" href="services.html">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
				<div class="item">
					<li>
						<div class="slider-info banner-view banner-top3 bg bg2">
							<div class="banner-info">
								<div class="container">
									<div class="banner-info-bg">
										<h6>Fast and efficient</h6>
										<h5>Quality products for quality homes</h5>
										<a class="btn mt-sm-5 mt-4" href="services.html">Read More</a>
									</div>
								</div>
							</div>
						</div>
					</li>
				</div>
			</div>
		</div>
	</section>
	<!-- /main-slider -->
	<!-- //banner-slider-->
	<!-- /bottom-grids-->
	<section class="w3l-bottom-grids-6">
		<div class="container">
			<div class="grids-area-hny main-cont-wthree-fea row">
				<div class="col-lg-4 col-md-6 grids-feature">
					<div class="area-box">
						<span class="fa fa-bath"></span>
						<h4><a href="#feature" class="title-head">Best Quality</a></h4>
						<p>the homespun provides best quality home made products which makes people likes you</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 grids-feature">
					<div class="area-box active">
						<span class="fa fa-cogs active"></span>
						<h4><a href="#feature" class="title-head">Learning corner</a></h4>
						<p>we including a lerning section to create homemades through uploading tutorial videos</p>
					</div>
				</div>
				<div class="col-lg-4 col-md-6 grids-feature">
					<div class="area-box">
						<span class="fa fa-users"></span>
						<h4><a href="#feature" class="title-head">Labour Expertise</a></h4>
						<p>we employe a lot of people . Our delivery partners are innocent and accurate </p>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- //bottom-grids-->
	<!-- /content-with-photo-1-->
	
	<!-- //content-with-photo-1-->

	<!-- /content-6-->
	<section class="w3l-content-6">
		<!-- /content-6-main-->
		<div class="content-6-mian py-5">
			<div class="container py-lg-5">
				<div class="content-info-in row">
					<div class="content-gd col-lg-4">
						<h3 class="hny-title">
							We Providing a High Quality Services</h3>
					</div>
					<div class="content-gd col-lg-4 pl-lg-4">
						<p> Our project mainly focuses on small scale business people. This  website that helps the small scale business developers to sell their product and also buyers can buy these products through our website. There are some kind of Users- Sellers 
							, customers and tutors who makes craft items as well as Art and paintings , jewelries , Homemade food items etc. .</p>
					</div>
					<div class="content-gd col-lg-4 pl-lg-4">
						<p>The homespun provides best quality home made products which makes people likes you.we including a lerning section to create homemades through uploading tutorial videos.then you can learn how to make and you can also sell it through hoemspun.we employe a lot of people . Our delivery partners are innocent and accurate </p>
					</div>

				</div>
				

			</div>
		</div>
	</section>
	<!-- //content-6-->
	
	<!-- /quote-6-->
	<section class="w3l-quote-6">
		<div class="quote-info py-5">
			<div class="container py-lg-5">
				<div class="quote-grids-info row">
					<div class="quote-gd-left col-lg-10 pr-lg-5">
						<h4>Professional Delivery <br>Services Provider</h4>
						<p class="para-quote"></p>
						<div class="row mt-lg-5 mt-4">
							<div class="col-lg-4 col-md-6 sub-quote mt-4">
								<div class="quote-sec-info">
									<div class="appyl-sub-icon">
										<span class="fa fa-phone"></span>
									</div>
									<div class="appyl-sub-icon-info">
										<h5>Phone</h5>
										<p><a href="tel:+910 7591906861">7591906861
												</a></p>
									</div>

								</div>

							</div>
							<div class="col-lg-4 col-md-6 sub-quote mt-4">
								<div class="quote-sec-info">
									<div class="appyl-sub-icon">
										<span class="fa fa-envelope-o"></span>
									</div>
									<div class="appyl-sub-icon-info">
										<h5>Email</h5>
										<p><a href="mailto:mail@company.com" class="mail"> mail@company.com</a></p>
									</div>

								</div>
							</div>
							<div class="col-lg-4 col-md-6 sub-quote mt-4">
								<div class="quote-sec-info">
									<div class="appyl-sub-icon">
										<span class="fa fa-clock-o"></span>
									</div>
									<div class="appyl-sub-icon-info">
										<h5>Opening Hours</h5>
										<p>10.00 to 18.00</p>
									</div>

								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- //quote-6-->
	<!--/testimonials-->
	<section class="w3l-testimonials" id="testimonials">
		<div class="testimonials py-5">
			<div class="container py-lg-5">
				<div class="title-content text-center">
					<h6 class="sub-title">Testimonials</h6>
					<h3 class="hny-title">What our Clients say</h3>
					<p class="title-para">very good response from our clint side.they give high rating for our professionalism.</p>
				</div>
				<div class="row mt-lg-5 mt-4">
					<div class="col-md-10 mx-auto">
						<div class="owl-two owl-carousel owl-theme">
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="message">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
											accusantium
											officia quod quasi necessitatibus perspiciatis Harum error provident
											quibusdam tenetur.</p>
										<div class="name mt-4">
											<h4>Phillip Hunt</h4>
											<p>Example Company</p>
										</div>
									</div>
									<div class="img-circle">
										<img src="static/assets/images/c1.jpg" class="img-fluid testimonial-img" alt="client">
									</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="message">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
											accusantium
											officia quod quasi necessitatibus perspiciatis Harum error provident
											quibusdam tenetur.</p>
										<div class="name mt-4">
											<h4>Sara Grant</h4>
											<p>Example Company</p>
										</div>
									</div>
									<div class="img-circle">
										<img src="static/assets/images/c2.jpg" class="img-fluid testimonial-img" alt="client">
									</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">
									<div class="message">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
											accusantium
											officia quod quasi necessitatibus perspiciatis Harum error provident
											quibusdam tenetur.</p>
										<div class="name mt-4">
											<h4>Luke Jacobs</h4>
											<p>Example Company</p>
										</div>
									</div>
									<div class="img-circle">
										<img src="static/assets/images/c3.jpg" class="img-fluid testimonial-img" alt="client">
									</div>
								</div>
							</div>
							<div class="item">
								<div class="slider-info mt-lg-4 mt-3">

									<div class="message">
										<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea sit id
											accusantium
											officia quod quasi necessitatibus perspiciatis Harum error provident
											quibusdam tenetur.</p>
										<div class="name mt-4">
											<h4>Claire Olson</h4>
											<p>Example Company</p>
										</div>
									</div>
									<div class="img-circle">
										<img src="static/assets/images/c4.jpg" class="img-fluid testimonial-img" alt="client">
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//testimonials-->
	{% endblock %}
	<!-- footer-66 -->
	{% include 'includes/footer.html' %}
	<!--//footer-66 -->
</body>

</html>

<script src="static/assets/js/jquery-3.3.1.min.js"></script>
<!-- disable body scroll which navbar is in active -->

<!--//-->
<script>
	$(function () {
		$('.navbar-toggler').click(function () {
			$('body').toggleClass('noscroll');
		})
	});
</script>
<!--/scroll-down-JS-->
<!-- for blog carousel slider -->
<script src="static/assets/js/owl.carousel.js"></script>
<!-- script for banner slider-->
<script>
	$(document).ready(function () {
		$('.owl-one').owlCarousel({
			loop: true,
			margin: 0,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: true
				},
				1000: {
					items: 1,
					nav: true
				}
			}
		})
	})
</script>
<!-- //testimonials owlcarousel -->
<script>
	$(document).ready(function () {
		$('.owl-two').owlCarousel({
			loop: true,
			margin: 30,
			nav: false,
			responsiveClass: true,
			autoplay: false,
			autoplayTimeout: 5000,
			autoplaySpeed: 1000,
			autoplayHoverPause: false,
			responsive: {
				0: {
					items: 1,
					nav: false
				},
				480: {
					items: 1,
					nav: false
				},
				667: {
					items: 1,
					nav: false
				},
				1000: {
					items: 1,
					nav: false
				}
			}
		})
	})
</script>
<!-- //script for Testimonials-->
<!-- //script -->

<script src="static/assets/js/bootstrap.min.js"></script>